/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@angular/material/theming';
@include mat-core();

/*$my-theme-primary: mat-palette($mat-blue-grey, A700);
$my-theme-accent: mat-palette($mat-pink, A200, A100, A400);
$my-theme-warn: mat-palette($mat-red);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);
@include angular-material-theme($my-theme);*/


$dark-primary: mat-palette($mat-indigo);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn, );

@include angular-material-theme($dark-theme);